body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}
.square{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    border-radius: 15px;
    width: 375px;
    background-color: hsl(0, 0%, 100%);
}
.title{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin: 0 20px;
    font-size: 20pt;
    color: hsl(218, 44%, 22%);
}
.msg{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin: 20px;
    font-size: 15pt;
    color: hsl(220, 15%, 55%);
}
.attribution{
    font-size: 11px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
img{
    width: 90%;
    border-radius: 2em;
    padding: 20px;
    margin-bottom: 10px;
}